* {
    margin: 0;
    padding: 0;
}


.center {
    margin-bottom: -40px;
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    color: rgb(35, 8, 41);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: rgb(211, 196, 235);
    padding: 20px;
    border-radius: 30px;
    border: 2px solid;
}

.calculator form input {
    border: 2;
    outline: 2;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgba(132, 124, 205, 0.5), 5px 5px 15px rgba(167, 230, 201, 0.3);
    font-size: 30px;
    cursor: pointer;
    margin: 12px;
}

.function {
    background: rgb(223, 57, 132);
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
}